@import url('https://fonts.googleapis.com/css?family=Roboto');
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .loginMobile {
    background: url(../Images/Background/loginmobile.png) no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  }
  .login {
    background: none !important;
    margin: 0px auto !important;
    height: 494px !important;
    width: 329px !important;
    box-shadow: 25px 23px 72px 36px #000000 !important;
  }
  .CoverBackground {
    padding-top: 15px !important;
  }
  .userHolder img {
    display: none !important;
  }
  .userHolder {
    width: auto !important;
    padding: 12px !important;
    padding-top: 0px;
  }
  .smallNoPadding {
    padding: 0 !important;
  }
  .Actions {
    overflow-x: scroll;
  }
  .contentNav {
    overflow-x: scroll;
    z-index: 500;
    white-space: nowrap;
  }
  .navButton {
    float: none !important;
  }
  .weatherwidget {
    width: 208px !important;
    height: 100vh !important;
  }
  #sidebar-wrapper {
    width: 203px !important;
    height: 100vh!important;
    z-index: 800;
  }
  .toolbarButton {
    height: 100%;
    width: 118px !important;
  }
  .addNew {
    width: 118px !important;
  }
  .dropdownchange {
    overflow-x: visible !important;
  }
  .hidemenu {
    left: 0px !important;
  }
  .hidenavbutton {
    display: none!important;
  }
  .tabButton {
    width: 112px !important;
  }
  .popup {
    width: 95vw !important;
    max-height: 423px;
    overflow: scroll;
  }
  div[class^='label-'],
  div[class*='label-'] {
    width: 100% !important;
    text-align: left !important;
    text-indent: 0px !important;
  }
  div[class^='input-'],
  div[class*='input'] {
    width: 100% !important;
  }
  #TaskReminder {
    width: 100vw !important;
  }
  .notification {
    padding: 11px !important;
    font-size: 14px !important;
  }
  .notification i {
    font-size: 14px !important;
    margin-right: 10px !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .loginMobile {
    background: url(../Images/Background/loginmobile.png) no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  }
  .login {
    background: none !important;
    margin: 0px auto !important;
    height: 494px !important;
    width: 329px !important;
    box-shadow: 25px 23px 72px 36px #000000 !important;
  }
  .CoverBackground {
    padding-top: 83px;
  }
  .weatherwidget {
    width: 208px !important;
    height: 100vh !important;
  }
  #sidebar-wrapper {
    width: 203px !important;
    height: 100vh!important;
    z-index: 800;
  }
  .userHolder img {
    display: none !important;
  }
  .userHolder {
    width: auto !important;
    padding: 12px !important;
    padding-top: 0px;
  }
  .hidemenu {
    left: 0px !important;
  }
  .popup {
    width: 95vw !important;
    max-height: 423px;
    overflow: scroll;
  }
  .contentNav {
    z-index: 500;
    white-space: nowrap;
  }
  .navButton {
    float: none !important;
    width: 186px !important;
  }
  .navbuttonul {
    width: 187px !important;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hide-ipad {
    display: none!important;
  }
  .navButton {
    width: 186px !important;
  }
  .navbuttonul {
    width: 187px !important;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* STYLES GO HERE */
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* STYLES GO HERE */
}
/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  /* STYLES GO HERE */
}
/* DEV EXPRESS GRID RESPONSIVE*/
@media (max-width: 767px) {
  .hide-small {
    display: none!important;
  }
}
body {
  font-family: 'Roboto', sans-serif !important;
}
/* Set padding to keep content from hitting the edges */
h1 {
  color: #A9A9A9 !important;
}
.body-content {
  padding-left: 15px;
  padding-right: 15px;
  background: #F7F8FA;
  min-height: 100vh;
}
a {
  color: #fff !important;
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}
/* Set width on the form input elements since they're 100% wide by default */
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
  list-style-type: none;
  padding: 5px;
}
input:focus,
textarea:focus,
button:focus {
  outline: none;
}
input {
  width: 100%;
  height: 32px;
  border-radius: 3px;
  padding: 5px;
  background: #F7F8FA;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@keyframes border-pulsate {
  0% {
    border-color: #ff0033;
  }
  50% {
    border-color: #fbbcc8;
  }
  100% {
    border-color: #ff0033;
  }
}
.input-validation-error {
  border: 1px solid #ff0033 !important;
  animation: border-pulsate 0.9s infinite;
}
.input-spacing {
  padding: 10px;
}
.ui-button {
  color: white !important;
  border-radius: 7px;
  border: none !important;
}
button {
  border: 1px solid #95C97B;
  background: #95C97B;
  padding: 6px 26px;
  text-transform: uppercase !important;
  color: #fff !important;
  border-radius: 6px;
}
button:hover {
  border: 1px solid #62D4D6;
  background: #62D4D6;
  padding: 6px 26px;
  text-transform: uppercase !important;
  color: #fff !important;
  border-radius: 6px;
}
button > i {
  padding-left: 5px;
}
input[type=button] {
  width: 90px;
  background: #0194c8;
  color: white;
}
.CoverBackground {
  background: url(../Images/Background/loginmobile.png) no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  min-height: 100VH;
  padding-top: 230PX;
}
.arrows A {
  COLOR: #95C97B !important;
}
.login {
  background: none !important;
  margin: 0px auto !important;
  height: 494px !important;
  width: 329px !important;
  box-shadow: 25px 23px 72px 36px #000000 !important;
  border-radius: 7px;
}
.input:hover {
  cursor: pointer;
}
.marginright {
  margin-right: 5px;
}
.floatleft {
  float: left !important;
}
.login input {
  width: 100%;
  height: 28px;
  border-radius: 3px;
  padding: 5px;
  background: #f7f8fa;
  background: rgba(204, 204, 204, 0.3);
  border: none;
  border-radius: 27px;
  padding: 20px;
  color: #fff !important;
}
.center {
  /* padding: 250px 30px 30px 30px; */
  padding: 12px;
  text-align: center;
  border-radius: 6px;
  /* border: 1px solid purple; */
}
.login h1 {
  color: #fff !important;
  font-size: 30px;
  padding-left: -8px;
  text-transform: uppercase;
  border-bottom: 3px solid #62d4d6;
  margin-right: 259px;
  margin-left: 32px;
  margin-bottom: 86px;
}
.input-spacing button {
  border: 1px solid #62D4D6;
  background: #62D4D6;
  padding: 6px 26px;
  text-transform: uppercase !important;
  color: #fff !important;
  border-radius: 34px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding-left: 8px;
}
.loadingbutton {
  border-radius: 133px !important;
  width: 11% !important;
}
.input-spacing button img {
  width: 21px;
  height: 21px;
}
.input-spacing p {
  float: left;
  padding-left: 14px;
  color: gainsboro;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
}
.navbar-custom {
  background-color: #fff;
  border-color: #D5D7D9;
  height: 50px;
  border-bottom: 1px solid #D5D7D9 !important;
}
.userHolder {
  padding: 5px;
  font-size: 17px;
  color: #808080;
  padding-top: 5px;
  margin-left: 14px;
  float: left;
  width: 416px;
  /* height: 385px; */
}
.userHolder img {
  margin-right: 6px;
  border-radius: 63px;
  height: 40px;
  max-width: 10%;
  border: 2px solid #95c97b;
  padding: 1px;
}
.links {
  float: right;
  padding: 15px;
  font-size: 14px;
  margin-right: 30px;
  text-decoration: underline;
}
.links a {
  color: #95C97B !important;
}
.links a:hover {
  color: #62d4d6 !important;
  cursor: pointer;
}
/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 250px;
}
#sidebar-wrapper {
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  background: #2F323A;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}
/* TOP NAV STYLES*/
.top-nav-section {
  width: 50px;
  float: left;
  text-align: center;
  height: 50px;
  padding-top: 13px;
  margin-left: 2px;
  border-bottom: none;
  background: #1d2b36;
  opacity: 0.8;
}
.top-nav-section:hover {
  opacity: 1;
  cursor: pointer;
}
.top-naviagtion {
  float: right;
  width: 74%;
}
.top-nav-section i {
  font-size: 23px;
  color: #fff;
}
.sub-nav-section {
  height: 50px;
  width: 50px;
  background: #1d2b36;
  opacity: 0.8;
  padding-top: 13px;
  border-bottom: 1px solid black;
  display: none;
}
.sub-nav-section:hover {
  opacity: 1;
  cursor: pointer;
}
/* Sidebar Styles */
.sidebar-nav {
  position: relative;
  top: 50px;
  width: 208px;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
}
.sidebar-nav > li {
  line-height: 52px;
  cursor: pointer;
  background: #242730;
  text-transform: uppercase;
  padding-left: 13px;
  border-bottom: 1px solid #44474E;
  font-size: 15px;
}
.sidebar-nav > li > a > i {
  padding: 15px;
  float: right;
  font-size: 21px;
}
.hideD {
  display: none;
}
.show {
  display: block;
}
li.dropdown {
  padding: 0 !important;
  background: #2f323a;
  line-height: 28px;
  margin-left: -1px;
  width: 209px;
  font-weight: 500;
  float: left;
}
li.dropdown > ul > li > a {
  font-size: 14px;
  color: #6d717b !important;
  text-transform: capitalize;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.pressed {
  background: #2f323a !important;
  border-bottom: 1px solid #2f323a !important;
}
.selected {
  color: #62d4d6;
}
li.dropdown > ul > li > a:hover {
  color: #62d4d6 !important;
  cursor: pointer;
}
li.dropdown > ul > li {
  padding-left: 14px;
}
li.dropdown i {
  padding-right: 12px;
}
.selectedNav {
  border-bottom: 1px solid #62d4d6 !important;
}
.contentNav {
  display: inline-block;
  width: 100%;
  height: 52px;
  margin-top: 50px;
  border-bottom: 1px solid #D5D7D9;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.noPadding {
  padding: 0 !important;
}
.noBottomMargin {
  margin-bottom: 0 !important;
}
#UserHolder {
  float: right;
  width: 15%;
  margin-top: 8px;
}
.userImage > img {
  width: 30px;
  height: 30px;
  border-radius: 27px;
  border: 1px solid white;
  padding: 4px;
}
.userImage > span {
  padding: 15px;
}
.navIcon {
  font-size: 30px;
  padding: 3px;
  color: #0194c8;
}
@media (min-width: 768px) {
  #wrapper {
    padding-left: 208px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 208px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
.MarginTop {
  margin-top: 9px !important;
}
.pageTitle {
  margin-top: 20px;
  background: #494C56;
  color: white;
  /* height: 48px; */
  font-size: 17px;
  padding: 13px;
  border-radius: 4px 4px 0px 0px;
  width: 100%;
  /* margin: 1px; */
  box-shadow: 2px 4px 19px 0px rgba(0, 0, 0, 0.75);
  border-bottom: 4px solid #95C97B;
}
.formButtons {
  float: right;
  padding: 3px 19px;
}
.PopupPageTitle {
  background: #494c56;
  color: #fff;
  font-size: 17px;
  padding: 13px;
  border-radius: 4px 4px 0 0;
  width: 100%;
  margin-bottom: 0px;
  border-bottom: 4px solid #95C97B;
}
.content {
  background: #FFF;
  border: 1px solid #DADDE4;
  box-shadow: 2px 4px 19px 0px rgba(0, 0, 0, 0.75);
}
table.history {
  margin: 10px;
}
.history > tbody > tr > th {
  padding: 7px !important;
  border-right: 1px solid #DADDE4;
  background: #95C97B;
  color: white;
  font-weight: 500;
}
.history > tbody > tr > td {
  padding: 7px !important;
  border-right: 1px solid #DADDE4;
}
.alt {
  background: #DADDE4;
}
.padding {
  padding: 15px;
}
.dxgvHeader {
  cursor: pointer;
  white-space: nowrap;
  padding: 4px 6px;
  border: 1px Solid #dadde4;
  background-color: #95C97B !important;
  overflow: hidden;
  font-weight: normal;
  text-align: left;
}
.dxgvFocusedRow {
  background-color: #71d8da !important;
}
.dxgvHeader,
.dxgvHeader table {
  color: White !important;
}
.dxgvPagerTopPanel,
.dxgvPagerBottomPanel {
  padding-top: 4px;
  padding-bottom: 4px;
  background: #95C97B !important;
}
.dxgvControl,
.dxgvDisabled {
  border: 1px Solid #dadde4;
  font: 12px 'Frank Ruhl Libre', sans-serif !important;
  background-color: #F2F2F2;
  color: #6d717b !important;
  cursor: default;
  width: 100% !important;
}
.dxgvSearchPanel {
  padding: 5px !important;
  background: white;
  border-bottom: 1px solid #dadde4;
  background: #fff;
  height: 73px;
}
.dxgvAdaptiveGroupPanel,
.dxgvGroupPanel {
  background-color: white !important;
}
.hover {
  background-color: lightblue;
}
.activeHover {
  background-color: lightgray;
}
.ui-draggable-dragging {
  background-color: lightgreen;
  color: White;
}
.input-row > .label-1,
.input-row > .label-2,
.input-row > .label-3,
.input-row > .label-4,
.input-row > .label-5,
.input-row > .label-6,
.input-row > .label-7,
.input-row > .label-8,
.input-row > .label-9,
.input-row > .label-10,
.input-row > .label-12 {
  color: black;
  padding-top: 4px;
  padding-bottom: 4px;
  text-indent: 20px;
  padding-right: 11px;
  text-align: right;
  font-weight: 500;
}
.input-row > .input-1,
.input-row > .label-1 {
  width: 6.3%;
}
.input-row > .input-2,
.input-row > .label-2 {
  width: 14.7%;
}
.input-row > .input-3,
.input-row > .label-3 {
  width: 23%;
}
.input-row > .input-4,
.input-row > .label-4 {
  width: 31.3%;
}
.input-row > .input-5,
.input-row > .label-5 {
  width: 39.7%;
}
.input-row > .input-6,
.input-row > .label-6 {
  width: 48%;
}
.input-row > .input-7,
.input-row > .label-7 {
  width: 56.3%;
}
.input-row > .input-8,
.input-row > .label-8 {
  width: 62.7%;
}
.input-row > .input-9,
.input-row > .label-9 {
  width: 71%;
}
.input-row > .input-10,
.input-row > .label-10 {
  width: 81.3%;
}
.input-row > .input-11,
.input-row > .label-11 {
  width: 89.7%;
}
.input-row > .input-12,
.input-row > .label-12 {
  width: 98%;
}
.input-row > .input-1,
.input-row > .label-1,
.input-row > .input-2,
.input-row > .label-2,
.input-row > .input-3,
.input-row > .label-3,
.input-row > .input-4,
.input-row > .label-4,
.input-row > .input-5,
.input-row > .label-5,
.input-row > .input-6,
.input-row > .label-6,
.input-row > .input-7,
.input-row > .label-7,
.input-row > .input-8,
.input-row > .label-8,
.input-row > .input-9,
.input-row > .label-9,
.input-row > .input-10,
.input-row > .label-10,
.input-row > .input-11,
.input-row > .label-11,
.input-row > .input-12,
.input-row > .label-12 {
  float: left;
}
.inputForm {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.44);
  PADDING-BOTTOM: 28PX;
  border-radius: 6px 6px 4px 4px;
}
.inputForm > .inputHeader {
  margin: 0px 0 7px 0;
  background: #95C97B;
  /* opacity: .9; */
  width: 100%;
  font-size: 16px;
  Text-indent: 20px;
  padding: 2px 0 3px 0;
  color: #fff;
  display: inline-block;
  border-radius: 4px 4px 0 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.input-row {
  padding: 0 15px 0 15px;
  float: left;
  width: 100%;
  margin: 4px 0px;
}
.input-row > div {
  margin: 1px 2px 0px 4px;
}
.inputForm img {
  width: 51%;
  /* text-align: center; */
  margin: 0 auto;
  display: block;
}
.Actions {
  width: 100%;
  display: inline-block;
  border: 1px solid #d5d7d9;
  /* color: black; */
}
.ticon {
  float: right;
  padding: 2px;
  font-size: 20px;
}
.navButton {
  height: 100%;
  width: 214px;
  background: #f7f8fa;
  float: left;
  margin: 0 0 0 0;
  font-size: 16px;
  color: #abafbb;
  padding: 14px 30px;
  border-right: 1px solid #d7d9db;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  z-index: 1 !important;
}
.navbuttonul {
  z-index: 306;
  position: absolute;
  background: #f7f8fa;
  margin: 16px -31px;
  border: 1px solid #d5d7d9;
  list-style: none;
  padding: 9px;
  border-top: none;
  border-radius: 1px;
  /* box-shadow: 2px 4px 19px 0 rgba(0,0,0,.75); */
  width: 215px;
}
.navbuttonul > li {
  padding: 11px 0px;
  border-bottom: 1px solid #d5d7d9;
  color: #abafbb;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbuttonul > li:hover {
  color: #62D4D6 !important;
}
.navbuttonul > li > i {
  padding-right: 5px;
}
.navButton:hover {
  color: #FF8358;
  cursor: pointer;
}
.navButton i {
  padding-right: 8px;
}
.toolbarButton {
  height: 100%;
  width: 171px;
  background: #f7f8fa;
  float: left;
  margin: 0 0 0px 0;
  font-size: 16px;
  color: #2f323a;
  padding: 14px 30px;
  /* border: 1px solid #d7d9db; */
  border-right: 1px solid #d7d9db;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-align: center;
}
.deleteButton {
  background: #ff0033;
  color: white;
}
.navButton a {
  color: #2f323a !important;
}
.toolbarButton:hover {
  cursor: pointer;
  color: #ff8358;
}
.addNew {
  background: #62d4d6;
  border-bottom: none !important;
  color: white !important;
  width: 170px;
}
.addNew i {
  float: right;
  padding-top: 3px;
}
.ui-widget-content {
  border: 1px solid #dddddd;
  background: #95C97B !important;
  color: #ffffff !important;
}
.ui-widget-header {
  border: 1px solid #dddddd;
  background: #62d4d6 !important;
  color: #ffffff !important;
  font-weight: bold;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #ff8358 !important;
  background: #ff8358 !important;
  font-weight: normal;
  color: #ffffff !important;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 1px solid #c5c5c5;
  background: #62d4d6 !important;
  font-weight: normal;
  color: #454545;
}
textarea {
  width: 100%;
  height: 125px;
  resize: none;
}
.arrows i {
  font-size: 97px;
  opacity: 0.4;
  float: right;
  /* margin: 11px; */
  margin: 25px 0px 0px 0px;
}
.arrows i:hover {
  cursor: pointer;
  opacity: 1 !important;
  color: #0194c8;
}
input[type=checkbox],
input[type=radio] {
  margin: 0 0 0 0 !important;
  line-height: normal;
  HEIGHT: 29px;
  float: left;
  width: auto;
}
select {
  width: 100%;
  height: 32px;
  border-radius: 3px;
  padding: 5px;
  background: #f7f8fa;
}
.PropertyNote {
  font-size: 14px;
  padding: 6px;
  letter-spacing: 1px;
}
@font-face {
  font-family: 'weather';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
#weather h1 {
  margin: 0;
  color: #f7f8fa !important;
  font-family: weather;
  font-size: 80px;
  font-weight: normal;
  line-height: 1;
  padding-left: 0px;
  padding-top: 27px;
  text-align: center;
}
.weatherwidget p {
  text-align: center;
  font-size: 10px;
}
.weatherwidget {
  margin-top: 50px;
  width: 100%;
  height: 240px;
  position: relative;
  color: #f7f8fa;
  list-style: none;
  display: inline;
  float: left;
  /* text-align: center; */
  padding: 55px;
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#40434A 17%, #32353D 50%, #2f323a 89%);
  /* Safari 5.1-6.0 */
  background: -o-radial-gradient(#40434A 17%, #32353D 50%, #2f323a 89%);
  /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(#40434A 17%, #32353D 50%, #2f323a 89%);
  /* For Firefox 3.6-15 */
  background: radial-gradient(#40434A 17%, #32353D 50%, #2f323a 89%);
  /* Standard syntax */
}
#weather h1.icon-0:before {
  content: ":";
}
#weather h1.icon-1:before {
  content: "p";
}
#weather h1.icon-2:before {
  content: "S";
}
#weather h1.icon-3:before {
  content: "Q";
}
#weather h1.icon-4:before {
  content: "S";
}
#weather h1.icon-5:before {
  content: "W";
}
#weather h1.icon-6:before {
  content: "W";
}
#weather h1.icon-7:before {
  content: "W";
}
#weather h1.icon-8:before {
  content: "W";
}
#weather h1.icon-9:before {
  content: "I";
}
#weather h1.icon-10:before {
  content: "W";
}
#weather h1.icon-11:before {
  content: "I";
}
#weather h1.icon-12:before {
  content: "I";
}
#weather h1.icon-13:before {
  content: "I";
}
#weather h1.icon-14:before {
  content: "I";
}
#weather h1.icon-15:before {
  content: "W";
}
#weather h1.icon-16:before {
  content: "I";
}
#weather h1.icon-17:before {
  content: "W";
}
#weather h1.icon-18:before {
  content: "U";
}
#weather h1.icon-19:before {
  content: "Z";
}
#weather h1.icon-20:before {
  content: "Z";
}
#weather h1.icon-21:before {
  content: "Z";
}
#weather h1.icon-22:before {
  content: "Z";
}
#weather h1.icon-23:before {
  content: "Z";
}
#weather h1.icon-24:before {
  content: "E";
}
#weather h1.icon-25:before {
  content: "E";
}
#weather h1.icon-26:before {
  content: "3";
}
#weather h1.icon-27:before {
  content: "a";
}
#weather h1.icon-28:before {
  content: "A";
}
#weather h1.icon-29:before {
  content: "a";
}
#weather h1.icon-30:before {
  content: "A";
}
#weather h1.icon-31:before {
  content: "6";
}
#weather h1.icon-32:before {
  content: "1";
}
#weather h1.icon-33:before {
  content: "6";
}
#weather h1.icon-34:before {
  content: "1";
}
#weather h1.icon-35:before {
  content: "W";
}
#weather h1.icon-36:before {
  content: "1";
}
#weather h1.icon-37:before {
  content: "S";
}
#weather h1.icon-38:before {
  content: "S";
}
#weather h1.icon-39:before {
  content: "S";
}
#weather h1.icon-40:before {
  content: "M";
}
#weather h1.icon-41:before {
  content: "W";
}
#weather h1.icon-42:before {
  content: "I";
}
#weather h1.icon-43:before {
  content: "W";
}
#weather h1.icon-44:before {
  content: "a";
}
#weather h1.icon-45:before {
  content: "S";
}
#weather h1.icon-46:before {
  content: "U";
}
#weather h1.icon-47:before {
  content: "S";
}
.daywidget {
  font-size: 60px;
  text-align: center;
}
img.tenancyimg {
  width: 24%;
}
.tab {
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -ms-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}
.tabButton {
  float: left;
  width: 200px;
  text-align: center;
  padding: 7px;
  background: #95C97B;
  border-right: 1px solid #d7d9db;
  color: #fff;
  border-radius: 4px 4px 0 0;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: .6px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabButton:hover {
  cursor: pointer;
  background: #62d4d6;
}
.tabButtonSelected {
  background: #62d4d6;
  border-bottom: 2px solid #ff8358;
  padding-bottom: 5px;
}
/* Radial Out */
.hvr-underline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #ff8358;
  height: 4px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-right:hover:before,
.hvr-underline-from-right:focus:before,
.hvr-underline-from-right:active:before {
  left: 0;
}
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #ff8358;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  z-index: 1000;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #ff8358;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
.hvr-underline-from-centerul {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  z-index: 1000;
}
.hvr-underline-from-centerul:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #ff8358;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-centerul:hover:before,
.hvr-underline-from-centerul:focus:before,
.hvr-underline-from-centerul:active:before {
  left: 0;
  right: 0;
}
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.temp {
  float: left;
  width: 131px;
  padding: 28px;
  font-size: 19px;
  margin-right: 79px;
  margin-top: 0px;
}
.hot {
  background: red !important;
}
.cold {
  background: blue !important;
}
div#tempicon {
  font-size: 75px;
}
.green {
  color: green;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.tasktb {
  width: 207px;
  text-align: center;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 7px;
  display: none;
  z-index: 2000;
}
.coverbackgroundpp {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: black;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  display: none;
  z-index: 2000;
}
.swal2-container {
  z-index: 2001 !important;
}
.zero {
  width: 0px !important;
  height: 0px !important;
  display: inline-block !important;
  position: absolute !important;
  bottom: 100% !important;
  left: 100% !important;
  top: 100% !important;
}
#TaskReminder {
  position: fixed;
  width: 500px;
  float: left;
  bottom: 0;
  right: 0;
  padding: 24px;
  z-index: 500;
}
.Reminder {
  background: #f7f8fa;
  border-radius: 3px;
  margin-top: 31px;
  display: none;
  cursor: pointer;
  opacity: .7;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 1px solid #d5d7d9;
  box-shadow: 2px 4px 19px 0 rgba(0, 0, 0, 0.75);
}
.Reminder:hover {
  opacity: 1;
}
.Normal {
  background: #95c97b  !important;
}
.Low {
  background: #62d4d6 !important;
}
.High {
  background: red !important;
}
.ReminderTitle {
  font-size: 20px;
  background: #494c56;
  padding: 11px;
  color: white;
  margin-bottom: 12px;
}
.ReminderDetails {
  padding: 10px;
  line-height: 31px;
  font-size: 16px;
}
sub#reminderTasks {
  color: #62d4d6;
}
.upperCase {
  text-transform: uppercase;
}
.navbar-toggle {
  float: left !important;
  margin-left: 0 !important;
  margin-left: 15px !important;
  background: #494c56 !important;
}
.navbar-header {
  float: left;
}
.navbar-toggle .icon-bar {
  background: #fff;
}
.navbar-toggle:hover {
  padding: 9px 10px !important;
}