

<div id="Save" onclick="document.forms[0].submit();" class='toolbarButton hvr-underline-from-left'> Save</div>
<div id="newTask" class='toolbarButton hvr-radial-out hvr-underline-from-right '>Tasks </div>
<div class='toolbarButton hvr-radial-out hvr-underline-from-left'>History</div>
<div class='toolbarButton addNew hvr-radial-out hvr-underline-from-right '>Add <i class="fa fa-plus" aria-hidden="true"></i></div>



