

<div id="completeTask"  class='toolbarButton tasktb hvr-underline-from-left'> <span class="hide-small">Toggle</span> Complete</div>
<div id="viewTask" class='toolbarButton tasktb hvr-radial-out hvr-underline-from-right '>View <span class="hide-small">Task</span> </div>
<div  id="newTask" class='toolbarButton tasktb addNew hvr-radial-out hvr-underline-from-left '>Add <span class="hide-small">Task</span> <i class="fa fa-plus" aria-hidden="true"></i></div>



