

<div id="deleteProperty"  class='toolbarButton deleteButton tasktb hvr-underline-from-left'> Delete Property</div>
<div id="viewProperty" class='toolbarButton tasktb hvr-radial-out hvr-underline-from-right '>View Property </div>
<div onclick="location.href='@Url.Action("PropertyDetails","Property", new {@PropertyID = 0 })'" class='toolbarButton tasktb addNew hvr-radial-out hvr-underline-from-left '>Add Property <i class="fa fa-plus" aria-hidden="true"></i></div>



